[2017-11-08 12:00] garciparedes opened #1 "Docs to do the directive"
https://github.com/Khan/KaTeX/issues/688

https://stackoverflow.com/questions/36370826/how-to-get-mathjax-working-with-angular2

[2017-11-08 12:07] garciparedes opened #2 "Distribute module over npm"

[2017-11-09 12:33] #2 closed

[2017-11-09 20:28] garciparedes opened #4 "Basic implementation of angular api of KaTeX"

[2017-11-09 20:29] garciparedes commented on #4
I will use #1

[2017-11-11 09:42] garciparedes opened #6 "Add demo project"

[2017-11-11 10:19] garciparedes opened #9 "KatexService.getExpression throws undefined error"

[2017-11-11 10:23] #4 closed

[2017-11-11 11:01] #6 closed

[2017-11-11 11:02] garciparedes commented on #9
Fixed

[2017-11-11 11:02] #9 closed

[2017-11-11 11:02] #1 closed

[2017-11-12 08:41] garciparedes opened #11 "implement renderToString"

[2017-11-12 08:45] garciparedes opened #12 "Configure to AOT compilation"

[2017-11-12 08:56] #11 closed

[2017-11-13 10:31] garciparedes opened #14 "Implement KatexOptions type"

[2017-11-13 11:30] garciparedes commented on #14
Closed on #15  PR

[2017-11-13 11:30] #14 closed

[2017-11-14 13:22] BOb511 opened #17 "KatexModule is not an NgModule"
I am getting this error when trying to start the dev Server fresh with `ng serve`. Oddly enough it works if it's already running and I just add it as a module afterwards.
Version: v0.3.21

So I tried with v0.3.30 and got another error:
`ERROR in Error: Metadata version mismatch for module ./node_modules/ng-katex/ng-katex.d.ts, found version 4, expected 3, resolving symbol ...`

I am on Angular 4.3

[2017-11-14 16:34] #12 closed

[2017-11-14 16:40] garciparedes commented on #17
Hi @BOb511,

There was an error related with the Angular version (5.0.1) used to compile de `ng-katex` module. In `v0.3.34` I fixed this bug, so the problem should be removed by installing that version.

The release changes are in https://github.com/garciparedes/ng-katex/commit/7cb3fc288678d8332db568db5cee264dd80bdffa and the release is https://github.com/garciparedes/ng-katex/releases/tag/v0.3.34

[2017-11-14 16:40] #17 closed

[2017-11-14 16:41] garciparedes opened #18 "Improve css import"
An example of this problem is in https://github.com/garciparedes/ng-katex/blob/master/src/ng-katex.component.ts, specially in `styleUrls: ['./../node_modules/katex/dist/katex.min.css']`, that I need to replace before publish as npm package.

Is there any solution for this problem?

[2017-11-14 18:25] garciparedes commented on #17
Many thanks for the feedback @BOb511 🙂.
It's my first open source Angular module, so I accept any change recommendation.

[2017-11-15 13:45] BOb511 opened #19 "IE11 Support?"
KaTeX supports IE9-11 but either ng-katex doesn't or I forgot something? Polyfills?
`ERROR TypeError: The object doesn't support the property or method "createShadowRoot` (roughly translated).
Btw the demo doesn't start at all on IE11. (different error though)

[2017-11-15 17:32] garciparedes commented on #19
The problem is related with the `ViewEncapsulation` field according to
https://github.com/angular/angular/issues/6531. You can solve it loading polyfills according to http://webcomponents.org/polyfills/

[2017-11-15 17:32] #19 closed

[2017-11-17 11:53] garciparedes opened #20 "Automate building"
- Change path from `node_modules/katex` to `../katex`
- Remove `*.ngfactory.ts` files

[2017-11-18 07:43] garciparedes opened #21 "Deal with polyfills to add correct support for IE and Firefox"
Because of the `ViewEncapsulation` tag in `KatexComponent`, the module is not rendering equations in IE and Firefox without polyfills

This issue is related with #19

[2017-11-18 08:05] #21 closed

[2017-11-18 08:09] garciparedes commented on #21
This bug was solved by adding `ViewEncapsulation.None`. It removes the style encapsulation of the  KatexComponent, but these is admisible because of it's style is from `katex.css` and only affect to tex expressions.

[2017-11-18 08:10] garciparedes commented on #19
Hi @BOb511, this bug was fixed in `ng-katex@0.3.37`, so now you can use this Module without polyfills

[2017-11-26 08:29] garciparedes opened #22 "Implement "auto-parser" paragraph"
The new component should receive an string (as parameter or by `<ng-content>`) and then, it should render all expressions delimited by `$` symbol, like in Tex language

[2017-11-28 05:01] vahekilamyan commented on #22
Hi Sergio,

Using this library and that would be a great feature!

<ng-katex [equation]="equation"></ng-katex>

equation = 'Some plain text: $//sum_{i=1}^nx_i$'; // Should render only the things in $ signs and math

Likewise,

equation = 'Some plain text: $$//sum_{i=1}^nx_i$$'; // Same, but should set "displayMode: true"

[2017-11-28 08:00] garciparedes commented on #22
Hi @vahekilamyan,

Many thanks for the recommendation about the behaviour of the new feature. I'm planning to implement it during the christmas holidays, but if you want these feature right now pull requests are welcome.

[2017-12-02 10:32] garciparedes opened #23 "Updated demo dependencies"

[2017-12-02 10:40] #23 closed

[2017-12-02 10:42] garciparedes opened #25 "Document the code"

[2017-12-09 17:23] KostyaTretyak opened #27 "For what we can use 'KatexDirective' directive?"
In source code, I see that there is [KatexDirective](https://github.com/garciparedes/ng-katex/blob/master/src/ng-katex.directive.ts) directive. At the moment, this is probably superfluous, right?

[2017-12-09 17:26] KostyaTretyak commented on #27
Oh, I've already seen.

[2017-12-09 17:26] #27 closed

[2017-12-10 08:51] garciparedes commented on #27
Hi @KostyaTretyak, I don't understand your  question. Can you explain more?

[2017-12-10 13:24] KostyaTretyak commented on #27
For your module `ng-katex`, directive `KatexDirective` is superfluous. You can deal with only `KatexComponent` component.

[2018-01-17 15:54] jondea commented on #22
Any update on your progress @garciparedes?

[2018-01-18 17:03] garciparedes commented on #22
Many thanks to remember me this issue @jondea, I will start to work on it right now 🙂

[2018-01-18 17:15] garciparedes commented on #22
The regex to extract equations should be `(\$[^\$]+\$)|(\$\$[^\$]+\$\$)`  matching Group 1 the normal case and Group 2 the displayMode case.

The regex can be tested here: https://regex101.com/r/J4sQXm/2

[2018-01-19 11:01] #20 closed

[2018-01-19 11:01] #18 closed

[2018-01-20 10:09] lazarljubenovic opened #30 "Fonts issue"
When trying to use this as documentation suggests, I'm getting errors about missing fonts.

![image](https://user-images.githubusercontent.com/7661457/35182311-49ce312a-fdd2-11e7-9df4-96268701fa7f.png)

It's unclear how to proceed.

[2018-01-20 10:19] lazarljubenovic commented on #30
With default CLI structure, I can add fonts folder and download the needed one from KaTeX official repo, but they have to be placed in `/assets/fonts`, not `/fonts`. How do I change the path to fonts?

[2018-01-20 13:36] garciparedes commented on #30
Hi @lazarljubenovic, that errors are due to an `ng-katex` bug. You shouldn't import KaTeX fonts manually. I will fix it in a few days.

[2018-01-20 18:57] garciparedes commented on #30
Hi! I showed that the bug only occurs in development mode. When the project is builded in production mode fonts are properly imported. I think the problem is in rollup config.

[2018-01-21 12:59] filip-svoboda opened #31 "Matrix brackets"
Almost all matrices have wrong brackets

"c = \\begin{pmatrix} a & b \\\\ c & d\\\\  c & d\\end{pmatrix}"
![image](https://user-images.githubusercontent.com/35653184/35194334-83ae581c-feb2-11e7-9f9b-753258395fd4.png)
"c = \\begin{bmatrix} a & b \\\\ c & d\\\\  c & d\\end{bmatrix}"
![image](https://user-images.githubusercontent.com/35653184/35194349-a619e4ac-feb2-11e7-85a9-4cb7e32efa95.png)

[2018-01-21 15:50] garciparedes commented on #31
Hi @filip-svoboda, I think the problem is due to your custom css code. You can proof those equations on demo app: https://garciparedes.me/ng-katex/

[2018-01-21 15:50] #31 closed

[2018-01-22 21:34] garciparedes commented on #30
The problem was fixed by requiring explicitly import of `katex.css`. It can be read on [readme.md](https://github.com/garciparedes/ng-katex/blob/master/README.md)

[2018-01-22 21:34] #30 closed

[2018-01-23 12:53] filip-svoboda commented on #31
Hi @garciparedes, thank you, your demo app works fine, but I still cant make it work. I'm not using any css. Do you have any other ideas?

[2018-01-23 17:33] garciparedes commented on #31
You should review the code of [demo](https://github.com/garciparedes/ng-katex/tree/master/demo) app. Note that since `ng-katex@1.0.0` you should import `katex.css` manually like the explanation in [readme](https://github.com/garciparedes/ng-katex#important).

[2018-01-24 01:17] lazarljubenovic commented on #30
Works like a charm now. Thanks a lot!

[2018-01-24 02:19] lazarljubenovic opened #34 "Error with universal"
The SSR (universal) build of the application gives me the following error.

[code]

It's weird because universal usually errors out for usages of `document` at runtime. This is an AOT error, but the `ng serve --aot` works just fine for me. Seems like metadata or something has not been configured properly. A good place to start is to make sure the lib complies to [**Angular Package Format**](https:

[2018-01-24 11:42] filip-svoboda commented on #31
Thank you very much, its working now, I really missed it :)

[2018-01-24 11:58] garciparedes commented on #34
Hi @lazarljubenovic! Can you explain me how to reproduce the Error? I've searched about it and found this issue: https://github.com/angular/angular/issues/20339 Maybe it can help you. 🙂

[2018-01-24 13:23] lazarljubenovic commented on #34
Thanks for the reply and snooping around! I'll reproduce tonight or tomorrow morning in a clean CLI project.

[2018-01-27 17:33] garciparedes opened #45 "Configure travis-ci"

[2018-01-27 17:46] #45 closed

[2018-01-27 17:49] garciparedes opened #47 "Configure codecov"

[2018-01-30 08:33] jondea commented on #22
Great work by the way!

It would appear that MathJax solves this problem by discouraging the use of single dollar sign delimiters:
([MathJax docs](http://docs.mathjax.org/en/latest/start.html#tex-and-latex-input))

It may be worth having an option to choose the delimiters (even if the choice is restricted) and choosing the same default.

[2018-01-30 16:19] jondea commented on #22
I'm a little confused, I was about to fork the repo to add options for different delimiters but noticed that the paragraph component has disappeared on the master branch. My git knowledge is limited but it appears to be there in ddd8d70 but disappears in a4b6873. Any ideas on how this can happen?

[2018-01-30 17:51] garciparedes commented on #22
`NgKatexParagraphComponent` is on [`issue-22`](https://github.com/garciparedes/ng-katex/tree/issue-22) branch. The reason it appears as deletion on `master` branch is due to a merge conflict. You can see the source code on https://github.com/garciparedes/ng-katex/blob/issue-22/src/ng-katex-paragraph.component.ts Maybe the code isn't as clear as it should be. I will improve soon.

[2018-01-31 12:56] garciparedes opened #53 "Improve Module Building"
Due to some problems like #34 it's necessary to configure [`ng-packagr`](https://github.com/dherges/ng-packagr) to build the Angular Module.

[2018-01-31 14:30] garciparedes commented on #53
Waiting to `ng-packagr@2.0.0`

[2018-02-01 11:04] garciparedes opened #64 "Add caching to travis"
According to https://blog.travis-ci.com/2013-12-05-speed-up-your-builds-cache-your-dependencies it's only needed to add this lines on `.travis.yml`:
[code]

[2018-02-01 11:19] #64 closed

[2018-02-03 17:35] garciparedes opened #68 "Warning at npm install"
The warnings is as follows:

[code]

[2018-02-04 13:46] #68 closed

[2018-02-14 08:12] garciparedes opened #97 "Check browser console errors with travis on demo app"
I want to add a tool that checks if there are any error on browser's console via travis. Does anyone know a tool to do it?

[2018-03-08 04:00] eliteluxury opened #115 "not showing Fraction line"
I tried to display fractions but it shows like this.

![screenshot-localhost-4200-2018 03 08-07-56-50](https://user-images.githubusercontent.com/35144713/37132253-5b333d22-22a6-11e8-8b0d-7b476e83067a.png)

The line between fractions isn't displayed.
Please give some advice for this.

[2018-03-11 08:56] garciparedes commented on #115
Hi @eliteluxury! Can you share a minimal reproducible example of this issue on [Plunker](https://plnkr.co/) or something like that? Many thanks for notify this issue. 🙂

[2018-03-11 23:55] eliteluxury commented on #115
I put them into array and simply displayed them.

fractions = [ "\frac{1}{6}", "\frac{1}{4}", "\frac{1}{3}","\frac{1}{2}" ];

<div *ngFor="let fraction of fractions">
      <ng-katex [equation] = "fraction"></ng-katex>
</div>

[2018-04-09 11:33] #115 closed

[2018-04-25 15:10] garciparedes opened #154 "Issue with travis and node-sass"

[2018-04-28 13:16] renovate[bot] opened #160 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-04-29 08:45] garciparedes commented on #160
Hi @rarkins. Can you help me to fix this issue? I've read the @renovate-bot docs but I didn't find where is the bug.

[2018-04-29 08:59] rarkins commented on #160
@garciparedes can you post to the renovatebot/config-help repository?

I’m not sure if it’s bad configuration or a bot bug, please copy and paste the error message plus your `renovate.json` and I’ll confirm soon

[2018-04-29 12:48] garciparedes commented on #160
Mi `renovate.json` is as follows:

[code]

The error message I get is that issue. Can you explain me how to get the complete error message?

[2018-04-29 12:50] rarkins commented on #160
Post in config help please

[2018-04-29 12:50] rarkins commented on #160
It’s a repository just for these questions, as mentioned earlier

[2018-04-29 16:00] rarkins commented on #160
@garciparedes I was on mobile earlier, back online now and can assist, but please raise your question via https://github.com/renovatebot/config-help/issues/new so that future users might find the answer.

FYI also, if you got to https://renovatebot.com/dashboard you can now retrieve DEBUG logs for the past week's renovations for your repositories. This capability is new so not being widely adverti

[2018-04-30 09:45] garciparedes commented on #160
Many thanks @rarkins! If I have new issues in the future, I'll use the help repo. 🙂

[2018-05-04 10:32] garciparedes opened #169 "Roll Back to TypeScript 2.7.x"

[2018-05-04 10:44] #169 closed

[2018-05-10 19:44] milmazz opened #178 "Error: 'render' is not exported after running `yarn run ngl build`"
After trying to build a component which uses [angular-librarian](https://github.com/gonzofish/angular-librarian) for the Angular 2+ scaffolding setup and uses `ng-katex` as a dependency I receive the following error after running `yarn run ngl build`.

I made a basic component to reproduce the error, you can find the structure here:

https://github.com/milmazz/kat

[code]

The error message points

[2018-05-19 10:49] garciparedes commented on #178
Hi @milmazz !

First of all I want to thank you for the bug finding. This weeks I'm being very busy, so I haven't time to solve it. I encourage you to fork this repo and try to solve the `rollup`  compilation bug.

I need to say you that when I built projects with Angular CLI there wasn't any problem

[2018-06-25 16:19] ionicview opened #210 "Some equation can not been shown in right way with ionic framework."
Hi,
When I use ng-katex  in ionic framework  some equation can not been displayed in the right way.
For example,   x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a} .
It can be shown in Angular project normally ,but in ionic project  the position of b^2 is out of sqrt mark.
Can  ng-katex be used in ionic project?

Any advice will be appreciate .
Thanks a lot .

[2018-06-25 19:19] garciparedes commented on #210
Hi @ionicview!
Your problem is could be related with the @katex `css` loading. I suggest you to check that.

[2018-07-05 05:10] mist3r3 commented on #22
Hey I'm also really interested in this. Is it possible to just merge the code from issue 22 to master? Anyways I guess we can just copy/paste the file  https://github.com/garciparedes/ng-katex/blob/issue-22/src/ng-katex-paragraph.component.ts to our own app right?

Thanks.

[2018-07-05 07:54] garciparedes commented on #22
Hi @mist3r3 Let me to check this branch in a few days, and think on a solution to merge it without making bugs in `ng-katex`. I'm planning to publish a new version this weekend because many dependencies can be update!

[2018-07-05 21:11] garciparedes commented on #22
Hi @mist3r3! I I have just implemented the code to scape the `$` symbol outside equations of paragraph. I implemented this using the `\$` from LaTeX. You can see the code [here](https://github.com/garciparedes/ng-katex/blob/issue-22/src/ng-katex-paragraph.component.ts). As you can see, the regex vars are truly illegible. Does someone know how to match groups by name?

[2018-07-07 15:46] ionicview commented on #210
Hi  garciparedes
Thank you very much for your replay!  After two week's work for my project , I  still  can not make it woks fine.

It looks like below.

![wechatimg4](https://user-images.githubusercontent.com/28757365/42412345-c8a6273a-8245-11e8-8058-f9c91f0de0b2.png)

How ever  ,if there is no divide operation in equation ,every thing look well.
![wechatimg6](https://user-images.githubuserconten

[2018-07-09 07:07] garciparedes commented on #210
Hi @ionicview! Maybe your issue comes from KaTeX css version. Can you check if the bad redering continues when you use `0.9.0` version? I.e. `<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">`

About the text capabilities, I'm working on `<ng-katex-paragraph>`, which will implement that behavior. You can check issue #22 to know more about that.

[2018-07-09 13:52] ionicview commented on #210
Hi @garciparedes!

With css version of 0.9.0 every thing looks perfect !!
Thank you very much .
You saved my time .

<ng-katex-paragraph> will be a great feature .
I  will check issue #22 every day .
ng-katex is so fast than mathjax .
Thank you  for your great works.

[2018-07-09 21:48] #210 closed

[2018-07-09 21:52] garciparedes commented on #115
Maybe your issue comes from KaTeX css version. Can you check if the bad redering continues when you use `0.9.0` version? I.e. `<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">`

[2018-07-28 19:37] evanlegamer commented on #22
Hi @garciparedes, I just wanted to know where you are in the implementation of your features ? How can we use it and when will it be integrated into the master branch ? I am very interested in this feature so I can use katex in my project instead of mathjax. Thank you in Advance for your answer 👍

[2018-07-31 01:09] colasbd commented on #22
Any news about this issue? Really interested by ANY solution!

[2018-09-27 18:58] genebustam commented on #22
Is is possible to at least access the [window.renderMathInElement()](https://katex.org/docs/autorender.html) function from within angular components? I noticed that this module already has the `auto-render.js` script included. So... Whats the problem?

[2018-10-12 08:35] garciparedes opened #285 "Update Node on Travis"

[2018-10-12 09:22] #285 closed

[2018-10-12 10:35] garciparedes commented on #22
Hi everyone! The `katex-paragraph` it's implemented right now. Did anyone want to check if it works properly?

To help me, it's necessary to clone `issue-22` branch on your desktop, open `docs/index.html` with your favourite browser and check if it's work like expected. Many thanks for your help!

[2018-10-14 05:31] ionicview commented on #22
Hi @garciparedes,
  I 'd like to check if it is work as my expected . How to use katex-paragraph? Where can I get it?
 Thanks a lot .

[2018-10-15 06:47] pnagendra540 commented on #22
Yeah @garciparedes Its working properly. How to use this in my application? Thank you very much for your work.

[2018-10-15 12:04] ionicview commented on #22
Hi , @garciparedes  It works just like I expected. Thank you for your great work.
When can I use it in my project?

[2018-10-17 14:57] garciparedes commented on #22
Hi @ionicview, I'm planning to release a new version this week. I'm updating all dependencies and the I'll release it.

[2018-10-23 16:38] garciparedes commented on #22
There're problems in non-Chrome browsers...

[2018-10-25 10:50] garciparedes commented on #22
I've found the bug reason: https://stackoverflow.com/a/50434875/3921457

[2018-10-28 13:13] garciparedes commented on #22
Hi Everyone! I need help with a JS Regular Expressions trouble. In words, I have the new regex to match non escaped dollars:
[code]
But the problem is that it's a Negative LookBehind technique, which is only implemented in newest Javascript processors. So I need to write that expression using standard techniques. Does someone help me?

[2018-12-19 07:43] gaurav-bodhare opened #329 "For some cases it doesn't support latex inputs which katex supports."
take the example of this latex-
'{\text{ In a solid }AB\text{ having the NaCl structure, }A\text{ atoms occupy the }}\text{ corners of the cubic unit cell. If all the face centred atoms along }\text{ one of the axes are removed, then the resultant stoichiometr. }\text{ of the solid is }{\text{ (a) }AB_2\text{ (b) }A_2B\quad\text{ (c) }A_4B_3\text{ (d) }A_3B_4}'

It is getting rendered on katex dem

[2018-12-19 07:46] gaurav-bodhare commented on #329
Probably katex new update is supporting these input. Maybe you have update dependency of katex.

[2019-01-10 17:50] garciparedes commented on #329
Hi @gaurav-bodhare
Check https://github.com/garciparedes/ng-katex/pull/298

[2019-01-10 17:50] #329 closed

[2019-01-18 17:50] evanlegamer commented on #22
Hi guys, maybe i'm not the only one in this case, so i ask it here, how can i implement the latest feature "ng-katex-paragraph" in my project ?

 I tried first to download the master branch with npm but in fact this branch is not up to date.

Then I tried to download this branch to copy it but only the compiled version in the folder "doc" works. So i put the src folder of this branch into my ng-ka

[2019-01-22 07:38] garciparedes commented on #22
Hi @evanlegamer, the issue comes from regex syntax implementation on non-Chrome browsers. I explained that problem few comments ago. I can't release this feature until the bug is solved.

[2019-01-22 10:16] evanlegamer commented on #22
Okay @garciparedes, i tried some stuff, is this correct for you ?

`private readonly boundary: RegExp = ([^\\]|^)(\$);`

[Here is the link](https://regex101.com/r/7cd5xw/2) for the live example

[2019-01-28 00:48] ReshmaKonepalli opened #351 "New release version 1.1.0 - Can't find module 'ng-katex'"
New release doesn't work like ^1.0.3 as written in readme for demo app and my project as well.
Installing or updating the version to 1.1.0 throws an error Can't find module 'ng-katex'.
Also, the structure of ng-katex under node modules is different.

Can someone tell me how to work with new version?

Thanks!

[2019-01-28 20:33] jamesnoonan commented on #351
I've had this issue as well and couldn't work out how to get it to work. I eventually tried out this command which worked for me: `npm install --save ng-katex@0.3.34`. There are probably newer versions you could install, but this seems to work fine for me.

[2019-01-29 18:42] ReshmaKonepalli commented on #351
@jamesnoonan Thank you for the quick reply!
Yes, it works fine for older versions. I've been using version@1.0.3 but now i want to upgrade it to new version since few symbols were not rendering in the older ones.

And for new version the demo doesn't work as mentioned in readme.

@garciparedes Can pl you let me know if there are any changes?

[2019-01-29 19:40] ReshmaKonepalli commented on #351
@garciparedes I think the npm install for new version^1.1.0 doesn't install all the files. There are few missing files I added them from older version manually and now it works!

[2019-02-01 12:07] evanlegamer commented on #22
Hi, @garciparedes , Does my regex solve the problem or it's not what you wanted?

[2019-02-01 18:58] ReshmaKonepalli commented on #351
Everything works fine with the new version ^1.1.1 as mentioned. Thanks!

[2019-02-01 18:58] #351 closed

[2019-02-25 13:53] caph1993 commented on #22
Hi, I think @evanlegamer is correct. Moreover, since the first group of the expression is not of interest, you could use `?:` in the first group to avoid capturing it, like this:

`private readonly boundary: RegExp = (?:[^\\]|^)(\$);`

Alternatively, you could match the whole expression with `^\$|[^\\]\$` and get the last index of each match.

[2019-03-20 05:48] evanlegamer commented on #22
Hi @garciparedes, Is there another bug? Can we put this branch in master?

[2019-03-20 13:14] garciparedes commented on #22
Hi @evanlegamer, you can fork the repo, modify this branch and then make a Pull Request to this branch. I'm sorry to say that now I don't have enough time to solve it myself now, but any Pull Request on this project is welcome. 😉

[2019-03-22 21:16] vberlier commented on #22
Hello! I created [extract-math](https://github.com/vberlier/extract-math) to isolate the parsing problem into a separate package. This makes it really easy to implement the `ng-katex-paragraph` component:

[code]

In case you're concerned about the additional dependency, [extract-math](https://github.com/vberlier/extract-math) is really small, doesn't use any regex lookahead or lookbehind, and wor

[2019-03-25 19:20] garciparedes commented on #22
Hi @vberlier! Your library looks awesome! Can you make a pull request to the `issue-22` branch to include it in `ng-katex`?

[2019-03-25 21:18] maedewiza opened #393 "Not equal \\ne do not render (= and blank square instead)"
[code]

Result:
![Zrzut ekranu 2019-03-25 o 22 13 25](https://user-images.githubusercontent.com/40405176/54954582-40cf9c00-4f4b-11e9-9cac-3fb12b5cbd70.png)

I'm using Google Chrome and Safari on macOS.
Typing 'not equal' unicode's char in ng-katex equation will cause the same result.
Unicode char in HTML is rendering properly.

[2019-03-26 00:12] vberlier commented on #22
Sure #394

[2019-03-27 12:58] garciparedes commented on #22
Thank you so much @vberlier! I'll verify the pull request today and if every think it's okay, I'll release a new `ng-katex` version before next Monday.

[2019-03-31 16:26] garciparedes commented on #22
Hi @vberlier. I found one thing to improve in the `extract-math` library. When I write inline equations like `$45\$$`, that is  can't scape the scape the dollar symbol inside the equation. Nevertheless, I'll release a new `ng-katex` version today. Also, I'll create an issue in your project and when you it I'll update this dependency. 😉

[2019-03-31 16:29] garciparedes commented on #22
The issue is https://github.com/vberlier/extract-math/issues/1

[2019-03-31 16:30] #22 closed

[2019-03-31 18:55] vberlier commented on #22
I added a `raw` property to the extracted segments to make the integration with KaTeX more ergonomic. I made a pull request which uses `.raw` instead of `.value` for displaying the equations in the `ng-katex-paragraph` component #398.

[2019-04-09 02:55] learnwell opened #405 "How to get ng-katex to work in stackblitz"
I attempted to get a [sample stackblitz](https://stackblitz.com/edit/try-ng-katex) up and running to play around with `ng-katex` but it does not render some of the equations properly. The same equations work fine on https://garciparedes.me/ng-katex/

I suspect it is a CSS import issue. Maybe something that the docs haven't mentioned from this perspective yet? Would you mind taking a look and letti

[2019-08-22 16:35] ahgentil opened #505 "Features described in current README do not match latest release"
When will you make a new release that includes `ng-katex-html` and all that came after https://github.com/garciparedes/ng-katex/tree/109febdd505553a94e4341b648a0d8e248831b3f
?
Thanks

[2019-08-23 11:29] garciparedes commented on #505
Hi @ahgentil!
You are right, the documentation on the `README.md` does not match the latest `ng-katex` version on `npm`. I'm planning to release a new version with those changes this weekend.

[2019-08-24 13:39] garciparedes commented on #505
Hi @ahgentil, the new realease has been published right now 🙂 You can check the github release at: https://github.com/garciparedes/ng-katex/releases/tag/v1.3.0 and download it from npm.

[2019-08-24 13:40] #505 closed

[2019-08-26 09:13] TapiwaJoel opened #509 "Error: katex importing browsermodule"
**Describe the bug**
ng-katex giving error when importing it to NgModule

**Steps to reproduce the error**

- npm install ng-katet
- import into any module, (lazily loaded in my case)
- compile or build

**Error produced**
[code]

[2019-08-26 13:38] garciparedes commented on #509
Hi @TapiwaJoel ! You were right, there was a bug related with the `ng-katex` module dependencies. The referenced commit aims to fix your trouble. I've released the `ng-katex@1.3.1` with the patch right now.

[2019-08-26 13:38] #509 closed

[2019-10-11 05:00] MusicDev33 opened #532 "Changing Delimiters"
As far I'm aware from reading the docs, there not really a good way to change the delimiters from the component.ts files. There's a way to do from the index.html, but I haven't found a way to get rid of the '$' '$' delimiters. An easy way to change the delimiters in the component.ts (passing in the options object) would be a good idea

[2019-10-11 16:27] caiofcm opened #533 "Extension mhchem"
Please, is there a way to use ng-katex with the mhchem extension?

https://github.com/KaTeX/KaTeX/tree/master/contrib/mhchem

Thank you.

[2019-11-11 19:08] sergew92 opened #548 "[options] in ng-katex-paragraph"
Hello !

I'm using ng-katex in place of MathJax, thanks for the good work!

I'd have a suggestion : in ng-katex-paragraph directive, would it be possible to pass in [options], just like in ng-katex?

Thanks :)

Serge

[2019-11-17 23:18] drlchen opened #550 "ng-katex has problem with angular ivy"
**Describe the bug**
A clear and concise description of what the bug is.

ng build succeed with ivy disabled but got following error when ivy is enabled.

Compiling @angular/flex-layout/grid : es2015 as esm2015
Compiling @angular/flex-layout : es2015 as esm2015
Compiling ng-katex : module as esm5

ERROR in node_modules/ng-katex/src/ng-katex.module.d.ts:1:22 - error TS-996002: Appears in the NgModu

[2019-11-28 04:33] davidshen84 commented on #550
Hi,

I got the same issue on Linux. I found turning off *aot* can work around this issue.

[2020-01-12 09:55] garciparedes commented on #548
Hi @sergew92! Right now it is not possible to set options on the `ng-katex-paragraph` directive. Nevertheless, it's an interesting feature! To do that, we need to modify the https://github.com/garciparedes/ng-katex/blob/master/src/ng-katex-paragraph.component.ts source file and allow to modify the `options` `Input` of `ng-katex` call. 🙂

[2020-01-12 10:02] garciparedes commented on #532
Hi @MusicDev33 ! You were right. Currently, it's not possible to set custom delimiters on `ng-katex-paragraph`. Nevertheless, I think it would be an interesting feature. The responsability of the paragraph processing is left to `extract-math` (https://github.com/vberlier/extract-math) package. So before applying any change on `ng-katex` it's necessary to have that capability on `extract-math`.

[2020-01-19 04:22] #25 closed

[2020-01-19 04:22] #53 closed

[2020-01-19 04:22] #47 closed

[2020-01-19 04:22] #34 closed

[2020-01-19 04:22] #97 closed

[2020-01-19 04:22] #178 closed

[2020-01-19 04:22] #393 closed

[2020-01-19 04:22] #405 closed

[2020-01-19 04:22] #533 closed

[2020-02-03 05:38] #550 closed

[2020-02-08 15:19] sergew92 opened #584 "Make ng-katex work with Angular 9"
Hello !

Once again, I would like to thank you for the quality of your library, it is so helpful for my work.

I upgraded my project to Angular 9 yesterday. Unfortunately ng-katex is not working with this new version of Angular.

A minimal repro could be upgrading ng-katex demo app to Angular 9 :
![image](https://user-images.githubusercontent.com/29337402/74087586-21236280-4a8e-11ea-9c62-fdd0b2950

[2020-02-11 21:29] john-melin commented on #584
Please merge in this feature. Im unable to upgrade to angular 9, only because of this dependency.

[2020-02-11 23:32] garciparedes commented on #584
Hi! Since `ng-katex>=2.0.0` the ivy compilation should be resolved. Thanks to @mm716783 for his pull request!

[2020-02-11 23:32] #584 closed

[2020-02-17 14:32] schullq opened #594 "Options: use the new 'output' option of Katex (>= v0.11.0)"
Hello,

I'm using ng-katex on a little project I'm doing for fun. Very useful.

I realized that the options of ng-katex does not implement the 'output' options, newly introduced since Katex v.0.11.0. By default, Katex is rendering both in the same string.

I think it would be nice to have it, and avoid having the _MathML_ and the _HTML_ version printed every time.

[2020-02-17 19:49] garciparedes commented on #594
Hi @schullq!

It's an interesting change, I'll merge your pull request. 🙂

[2020-02-17 19:50] #594 closed

[2020-03-19 11:39] #548 closed

[2020-03-19 11:39] #532 closed

[2020-11-09 09:17] avelow opened #652 "Import Katex to make tree shaking possible"
In https://katex.org/docs/node.html we can read :

KaTeX also provides an ECMAScript module:
[code]

In ng-katex, we import all the katex.js in the bundle that make it bigger
Using this import, we could make the bundle size smaller.

I will make a pull request for this

[2020-11-09 10:41] avelow commented on #652
I misunderstood the KaTeX docs
The librabry is already imported using ECMAScript.

By the way, is there a difference in the generated bundle size if we use :
[code]

instead of :
[code]

[2020-11-09 19:56] garciparedes commented on #652
Hi @avelow,

Thanks for your feedback! You're welcome to propose any pull request for this repository. I think you proposal is fine and, as you said, it'll produce an equal or less sized bundle due to the selective import. So if you submit the pull request, I'll approve it! 😉

[2020-11-09 20:37] avelow commented on #652
Hi

I will do it tomorrow !

I may do another one to update the KatexOptions because there is some missing value like strict in the KatexOption declared in the library

[2020-11-12 17:16] avelow commented on #652
I did the pull request #655

[2020-11-13 17:05] garciparedes commented on #652
Okay! I'll review your merge request in the coming days and if everything is fine I'll proceed to merge it and generate a new release. Thank for your contribution @avelow!

[2020-11-20 07:49] clark-97 opened #656 "how to support longdiv macros?"
I add options in component:
[code]
but still get error: KaTeX parse error: Undefined control sequence: \longdiv at position 2:  \̲l̲o̲n̲g̲d̲i̲v̲{1}{2}

[2020-12-01 07:00] clark-97 commented on #656
I check source code, the ng-katex-paragraph and ng-katex-html do not support [options]

[2020-12-01 07:00] #656 closed

[2020-12-26 10:23] sshheye opened #658 "Export the KatexService as part of the Public API Surface of ng-katex"
**Is your feature request related to a problem? Please describe.**
Certain requirements needs the renderToString() and render() function currently in the KatexService <br/>
for instance a requirement to include katex in a text-editor will need the renderToString() function in the KatexService,
The current implementation hides the KatexService which prevents the use of the  renderToString().

**Des

[2020-12-27 16:51] garciparedes commented on #658
Hi @sshheye! I agree with you, if the implementation is already available I think is a good point to expose it on the public API, I'll accept your merge request. Thanks for your contribution!

[2020-12-27 16:52] #658 closed

[2020-12-27 16:52] #652 closed

[2021-01-05 19:40] bekzatsa opened #660 "Angular 9 evaluating 'input.split'"
Angular 9 has error when I use ng-katex-html, has error:
_`TypeError: undefined is not an object (evaluating 'input.split')`_

[2021-01-06 19:46] garciparedes commented on #660
HI @bekzatsa, could you provide a more detailed explanation about the bug?

[2021-01-12 10:28] bekzatsa commented on #660
[screenshot](https://ibb.co/0QzCzW3)

[2021-01-12 11:42] bekzatsa commented on #660
<img width="524" alt="Снимок экрана 2021-01-12 в 15 18 42" src="https://user-images.githubusercontent.com/34629278/104310170-7917e400-54fd-11eb-9117-9046f0896e79.png">

[2021-01-18 09:12] garciparedes commented on #660
Hi @bekzatsa, thanks for your help! Could you provide me a minimal example to reproduce it?

[2021-01-18 13:37] bekzatsa commented on #660
`<p><span style="color: rgba(0, 0, 0, 0.65); font-family: 'Open Sans', sans-serif; font-size: 14px; letter-spacing: 0.2px; background-color: #ffffff;">You can write text, that contains expressions like this: $x ^ 2 + 5$ inside them.</span></p>`

`<ng-katex-html [html]="description"></ng-katex-html>`
When I use like that, then I get that error and display show nothing

Version:
[code]

[2021-01-21 15:12] #160 closed

[2021-02-06 18:30] memcardio commented on #533
This would be very useful!

[2021-02-09 11:49] Binarium-Dev opened #662 "When using ng-katex-html the dom element is refreshed every angular lifecycle"
If you use `<ng-katex-html>` angular refreshes the DOM Element at every lifecycle.

This is quite inefficient and leads to UX problems (the text of the katex expression cannot be selected).

The reason for this is, that a getter is used in the template instead of a variable.

[2021-02-16 19:42] garciparedes commented on #662
Hi @Binarium-Dev! Thanks for you your awesome explanation, and also for your code contribution. I'll review your changes and proceed to merge if everything is okay. Also, I want to generate a new release with these and another changes in a few days. 🙂

[2021-02-23 07:04] bekzatsa commented on #660
variable must be not empty, length must > 0

[2021-02-23 07:04] #660 closed

[2021-02-28 18:48] #662 closed

[2021-05-22 07:55] Asifislam110 opened #689 "How to render Equation ( Mathml as Input)"
Can you please provide some sample or configuration how to display below mathml as output.
I have below code

import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  template: `<ng-katex-html [html]="html"></ng-katex-html>`
})
export class AppComponent {
  html: string = ` <p><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>x</mi><mo>=</mo><mfrac><mrow><mo>-</mo><mi>b<

[2021-07-29 02:50] #689 closed, assigned to nobody

[2021-10-18 16:35] renovate opened #706 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency zone.js to v0.12.0
 - [ ] Update angular monorepo to v15 (major) (`@angular/animations`, `@a

[2022-01-17 10:28] nikeee opened #710 "Angular 13 Support"
Is this library compatible with Angular 13?

If not, can we help porting it?

[2022-01-19 17:56] garciparedes commented on #710
Hi @nikeee,

Currently I don't have enough time to update the library to be compatible with latest angular versions.

But if you want to do that, I'll review and integrate your PR and publish the corresponding release. 🙂

[2022-01-20 13:24] nikeee commented on #710
I've updated the whole library to use angular 13:
https://github.com/garciparedes/ng-katex/compare/master...nikeee:angular-13?expand=1

However, this might result in the library being incompatible with angular < 13.

Also, tslint was removed from angular (without a replacement, one must configure to use eslint manually).

I see that the current version uses the v8 versions of the libraries. Should

[2022-02-07 14:53] garciparedes commented on #710
Hi @nikeee! As I have not so much time to spend on this project I think it's preferable to keep the compatibility with older Angular versions, at least for the now.

[2022-04-28 00:54] #710 closed, assigned to nobody